nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1rem;

    span {
        font-size: 40px;
        color: #2e9cca;
    }

    h1 {
        letter-spacing: 0.2rem;
        font-weight: 400;
    }
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: text;
    padding: 0.75rem 1rem;
    border-radius: 4rem;
    background-color: #1b1b1d;

    gap: 0.75rem;

    input {
        all: unset;
        width: 30rem;
        text-align: left;
    }
}

.search:hover,
.search:focus {
    input::placeholder {
        color: whitesmoke;

        transition: all 0.2s ease-out;
    }
}

.location {
    all: unset;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: 4rem;
    background-color: #2e9cca90;
    color: whitesmoke;

    gap: 0.5rem;

    span {
        font-size: 1.25rem;
    }
}

.location:hover,
.location:active {
    background-color: #2e9cca;
    color: white;

    transition: all 0.2s ease-out;
}
