nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 10vh;
    padding: 2rem 0;
}

.header {
    display: flex;
    align-items: center;

    gap: 1rem;

    span {
        font-size: 40px;
        color: var(--accent-color);
    }

    h1 {
        letter-spacing: 0.25rem;
        font-weight: 400;
    }
}

.search {
    display: flex;
    align-items: center;

    width: 40%;
    gap: 0.75rem;

    cursor: text;
    padding: 0.75rem 1rem;
    border-radius: 4rem;
    background-color: var(--container-color);

    input {
        all: unset;
        text-align: left;
    }
}

.search:hover,
.search:focus {
    input::placeholder {
        color: whitesmoke;

        transition: all 0.2s ease-out;
    }
}

.location {
    all: unset;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 0.5rem;

    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: 4rem;
    background-color: var(--accent-color-inactive);
    color: whitesmoke;

    span {
        font-size: 1.25rem;
    }
}

.location:hover,
.location:active {
    background-color: #2e9cca;
    color: white;

    transition: all 0.2s ease-out;
}
