<nav>
    <div class="header">
        <span class="material-icons-outlined" alt="logo">cyclone</span>
        <h1>weatherio</h1>
    </div>
    <div class="search">
        <span class="material-icons-outlined" alt="search">search</span>
        <input type="text" placeholder="Search city..." />
    </div>
    <button class="location">
        <span class="material-icons-outlined" alt="location"
            >location_searching</span
        >
        <p>Current location</p>
    </button>
</nav>
