@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

:root {
    --primary-color: whitesmoke;
    --secondary-color: grey;
    --accent-color: #2e9cca;
    --accent-color-inactive: #2e9cca90;

    --background-color: #131215;
    --container-color: #1b1b1d;
    --box-color: #1a191c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
}

.material-icons-outlined {
    color: var(--primary-color);
}

.main-text {
    font-size: 1.25rem;
    font-weight: 500;
}

.description {
    font-size: 1rem;
}
