:host {
    width: min(90%, 2000px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    background-color: #131215;
}

.app-container {
    min-height: 90vh;
    display: flex;

    gap: 3rem;

    .first,
    .second {
        display: flex;
        flex-direction: column;

        gap: 1rem;
    }

    .second {
        flex-grow: 1;
    }
}
