:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    width: min(90%, 2000px);

    background-color: var(--background-color);
}

.app-container {
    display: flex;
    min-height: 90vh;

    .section-first,
    .section-second {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        gap: 1rem;
    }

    .section-first {
        width: 25%;
    }

    .section-second {
        flex-grow: 1;
    }
}
