:host {
    width: 100%;
}

h3 {
    margin: 1rem 0;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;

    padding: 2rem;
    border-radius: 1.5rem;
    background-color: #1b1b1d;
}

.day {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .weather-status {
        display: flex;
        align-items: center;

        gap: 1rem;

        img {
            width: 2rem;
        }

        .temperature {
            font-size: 1.5rem;
        }
    }

    .date {
        color: var(--secondary-color);
    }
}
