<h3 class="main-text">5 Days Forecast</h3>
<div class="weather">
    <div class="day description">
        <div class="weather-status">
            <img src="assets/01d.png" alt="weather" />
            <p class="temperature">19</p>
        </div>
        <p class="date">2 Mar</p>
        <p class="date">Thursday</p>
    </div>
    <div class="day">
        <div class="weather-status">
            <img src="assets/01d.png" alt="weather" />
            <p class="temperature">19</p>
        </div>
        <p class="date">2 Mar</p>
        <p class="date">Thursday</p>
    </div>
</div>
