:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weather-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.date {
    display: flex;
    justify-content: start;
    align-items: center;
}

.location {
    display: flex;
    justify-content: start;
    align-items: center;
}
