:host {
    width: 100%;

    padding: 2rem;
    border-radius: 1.5rem;
    background-color: var(--container-color);

    gap: 1.5rem;
}

h3 {
    margin: 1rem 0;
}

.overview {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "air-quality air-quality sun-status sun-status";

    gap: 1rem 1.5rem;
}

.box {
    display: flex;
    flex-direction: column;

    gap: 3rem;

    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--box-color);
}

.air-quality {
    grid-area: air-quality;

    .desc {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            padding: 0.25rem 0.75rem;
            border-radius: 1rem;

            background-color: green;
        }
    }

    .data {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .data-item {
            display: flex;
            flex-direction: column;

            .desc {
                display: flex;
                justify-content: center;

                font-size: var(--text-data-desc);
                color: var(--secondary-color);
            }

            .value {
                font-size: var(--text-data-value);
            }
        }
    }
}

.sun-status {
    grid-area: sun-status;

    .data {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 2rem;
    }

    .data-item {
        display: flex;
        flex-direction: row;
        align-items: center;

        flex-grow: 1;
        gap: 3rem;
    }

    .sun-data {
        display: flex;
        flex-direction: column;

        .desc {
            font-size: var(--text-data-desc);
            color: var(--secondary-color);
        }

        .value {
            font-size: var(--text-data-value);
        }
    }
}
