:host {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem;
    border-radius: 1.5rem;
    background-color: #1b1b1d;

    gap: 1rem;
}

.title {
    font-size: 1.25rem;
}

.weather-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;

    h2 {
        font-size: 5rem;
        font-weight: 400;
    }
}

.line {
    width: 100%;
    height: 0.05rem;
    background-color: rgb(61, 61, 61);
}

.location-date {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    gap: 0.75rem 1rem;

    color: grey;
}
