<p class="title">Now</p>
<div class="weather">
    <div class="weather-info">
        <h2>19</h2>
        <img src="assets/01d.png" alt="weather" />
    </div>
    <p>Clear</p>
</div>
<div class="line"></div>
<div class="location-date">
    <div class="date">
        <span class="material-icons-outlined" alt="date">calendar_today</span>
        <p>Jan 1, 2020</p>
    </div>
    <div class="location">
        <span class="material-icons-outlined" alt="location">location_on</span>
        <p>Calgary, AB</p>
    </div>
</div>
